<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.excel.appstvlauncher.secondgen" >

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.excel.appstvlauncher.secondgen.MainActivity"
            android:label="@string/app_name"
            android:launchMode="singleTask"
            android:stateNotNeeded="true" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.HOME" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        
        <activity
            android:name="com.excel.appstvlauncher.secondgen.WebViewActivity"
            android:theme="@android:style/Theme.Wallpaper.NoTitleBar.Fullscreen" >
        </activity>
        
        <activity
            android:name="com.excel.appstvlauncher.secondgen.ShortcutsActivity"
            android:theme="@android:style/Theme.Wallpaper.NoTitleBar.Fullscreen" >
        </activity>

        <service android:name="com.excel.perfecttime.PerfectTimeService" >
        </service>
        <service android:name="com.excel.yahooweather.YahooWeatherService" >
        </service>


        
    </application>

</manifest>